@model RequestListingViewModel;

@{
    ViewData["Title"] = "Requests list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid container-decor text-center">
    <h1>Requests list @Model.Status.Name</h1>
</div>
<br />

<div class="btn-group btn-group-justified">
    <a href="/Request/NewRequestsList?page=@Model.PreviousPage" class="float-left btn btn-primary @(Model.PreviousDisabled?"disabled":"")">Prev</a>
    <a href="/Request/NewRequestsList?page=@Model.NextPage" class="float-right btn btn-primary @(Model.NextDisabled?"disabled":"")">Next</a>
</div>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Number</th>
            <th>Date create</th>
            <th>From</th>
            <th>To</th>
            <th>Info</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.list)
    {
        <tr>
            <td>@item.Number</td>
            <td>@DateTime.Parse(item.DateCreate)</td>
            <td>@item.FromCountryCity</td>
            <td>@item.ToCountryCity</td>
            <td>@item.LoadName</td>
            <td>
                @if (Model.Status.Code == FMS.Services.CommonValues.RequestDefaultStatusCode)
                {
                    <a href="/Request/ProcessCustomerRequest?requestID=@item.ID" class="btn bz-btn-info">See more</a>
                }
                else
                {
                    @await Html.PartialAsync("_ButtonProcessPartial", new FMS.WebClient.Models.Partial._ButtonProcessPartialViewModel()
                    {
                        RequestID = item.ID
                    })
                }
            </td>
        </tr>
    }
</table>

