@using FMS.WebClient.Models.Partial;
@model _NavItemPartialViewModel;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (@Model.StatusCode != null)
    {
        <li class="nav-item">
            <a id="white" class="nav-link" href="@Model.View?statusCode=@Model.StatusCode.Replace(",",".")">@Model.Text</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a id="white" class="nav-link" href="@Model.View">@Model.Text</a>
        </li>
    }
}